html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1.mensagem{
    background-color: #15e631;
    color:black;
    padding: 1rem;
    border: 2px solid black;
    width: 30rem;
    margin: 2rem auto;
    text-align: center;
}
main{
    border: .2rem solid black;
    background-color: #dee0de;
    width: 30rem;
    margin: 1rem auto;
    padding: 1rem;
}
.cx{
    width: 19.3rem;
}
td{
    width: 10rem;
}
input{
    padding: .2rem;
}