body {
    background-color: gray;
}
.titulo {
    background-color: gray;
    color: wheat;
    padding: .1rem;
    font-size: 4rem;
}
.botao {
    text-align: center;
}
#but {
    font-size: .7rem;
    padding: .8rem;
    text-align: center;
}
.resp {
    background-color: gray;
    color: wheat;
}
.resul {
    background-color: gray;
    color: wheat;

} 