.info {
    background-color: red;
    color: antiquewhite;
    padding: 1px;
}

.botao {
    background-color: gray;
    color: red;
    padding: 5px;
}
#resposta {
    background-color: gray;
    color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}