.image {
    width: 70px;
    height: 70px;
}
.titulo {
    color: red;
    font-size: 45px;
}
.info, .botao {
    background-color: gray;
    color: wheat;
    font-size: 18px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.resp {
    background-color: gray;
    color: wheat;
    font-size: 22px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;

}