.titulo {
    background-color: gray;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8rem;
}

.info, #resp {
    background-color: gray;
    color: aqua;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;


}
.botao {
    background-color: gray;
    color: aqua;
    padding: .6rem;
}
#but {
    width: 10rem;
    height: 1.5rem;
    
}