html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 50rem;
} 
table {
    margin: 1px auto;
}
table, tr, td {
    border: 1px solid white;
    border-collapse: collapse;
}
td, th {
    padding: 0.5rem 2rem;
}
th {
    background-color: rgb(51, 96, 219);
    color: #ffffff;
    font-size: 16px;
}
.web {
    background-color: rgba(142, 236, 192, 0.74);
    vertical-align: top;
    width: 0.2rem;
}
.logica {
    background-color: rgb(255, 186, 58);
    vertical-align: top;
    width: 0.2rem
}

.disc:hover, th:hover ,tr:hover {
    background: red !important;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;

}
.tit {
    vertical-align: top; 
}
.tit:hover {
    color:rgb(255, 81, 0)!important;
}

.nome{
    text-align: left;
}
#verde {
    background-color: rgb(2, 97, 2);
    color:rgb(114, 211, 114);
    padding: 2rem;
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    margin: 2rem auto;  
}
#vermelho {
    background-color: rgb(122, 16, 16);
    color:rgb(250, 43, 43);
    padding: 2rem;
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    margin: 2rem auto;    
}