/*Identificador CSS: */
#resulsoma, #resulsub, #resuldiv, #resulmult, #resulresto{
    font-size: 1.5rem;
    font-family: Verdana;
    padding: 1rem;
    background-color: #ffea66;
}
#resulsoma{
    color: green;
}
#resulsub{
    color: red;
}
#resuldiv{
    color: orange;
}
#resulmult{
    color: blue;
}
#resulresto{
    color: violet;
}
/*Classe CSS: */
.numero{
    font-size: 1.5rem;
    font-family: Verdana;
    padding: 1rem;
    color: #a0a0a0;
    background-color: #515151;
}